<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:include="fragments/header :: header"></head>
<body>
<div th:replace="fragments/navigation :: navigation"></div>
<div class="container">
    <form class="mt-3" th:action="@{/tasks/{id}(id=${task.id})}" method="get" th:object="${task}">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Название</th>
                <th scope="col">Описание</th>
                <th scope="col">Создано</th>
                <th scope="col">Готовность</th>
                <th scope="col">Пользователь</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td th:text="*{id}"/>
                <td th:text="*{name}"/>
                <td th:text="*{description}"/>
                <td th:text="${#dates.format(task.createDate, 'dd.MM.yyyy HH:mm:ss')}"/>
                <td th:text="*{todoUser.name}"/>
                <td>
                    <label>
                        <input type="checkbox" disabled th:checked="*{done}"/>
                    </label>
                </td>
            </tr>
        </table>
    </form>
    <div class="mb-3 row">
        <div class="col-6"></div>
        <div class="col-6">
            <div class="row">
                <div class="col-4">
                    <form class="mt-3" th:action="@{/tasks/{id}(id=${task.id})}" method="post"
                          th:object="${task}"
                          enctype="multipart/form-data">
                        <input type="hidden" name="name" th:value="*{name}">
                        <input type="hidden" name="description" th:value="*{description}">
                        <input type="hidden" name="created" th:field="*{created}">
                        <input type="hidden" name="done" th:value="true">

                        <input type="hidden" id="todoUser.id" name="todoUser.id" th:value="*{todoUser.id}">
                        <input type="hidden" id="todoUser.login" name="todoUser.login" th:value="*{todoUser.login}">
                        <input type="hidden" id="todoUser.name" name="todoUser.name" th:value="*{todoUser.name}">
                        <input type="hidden" id="todoUser.password" name="todoUser.password" th:value="*{todoUser.password}">
                        <div th:switch="${task.done}">
                            <button type="submit" name="submit" value="Submit" w-100
                                    class="btn btn-success.disabled w-100" disabled th:case="true">
                                Выполнено
                            </button>
                            <!-- * for default case -->
                            <button type="submit" name="submit" value="Submit" class="btn btn-success w-100"
                                    th:case="*">
                                Выполнено
                            </button>
                        </div>
                    </form>
                </div>
                <div class="col-4">
                    <form class="mt-3">
                        <a class="btn btn-primary w-100"
                           th:href="@{/tasks/update/{id}(id=${task.id})}">Редактировать</a>
                    </form>
                </div>
                <div class="col-4">
                    <form class="mt-3" th:action="@{/tasks/delete/{id}(id=${task.id})}" method="post"
                          th:object="${task}">
                        <button class="btn btn-danger w-100" type="submit">Удалить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:include="fragments/footer :: footer"></footer>
</body>
</html>