<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: header"></head>
<body>
<div th:replace="fragments/navigation :: navigation"></div>
<div class="container">
    <h3 class="mt-3" th:text="${message}"/>
    <!-- p class="text-info" th:text="'Идентификатор: ' + ${task.id}"></p -->
    <!-- Если значение есть – отобразим его. -->
    <p class="text-info" th:if="${task.id}" th:text="'Идентификатор: ' + ${task.id}"></p>
    <!-- Если значения нет (null), покажем текст по умолчанию. -->
    <!--p class="text-info" th:unless="${task.id}" th:text="'Идентификатор: сгенерирован новый'"></p -->
    <p class="text-info" th:text="'Название: ' + ${task.name}"></p>
    <p class="text-info" th:text="'Описание: ' + ${task.description}"></p>
    <p class="text-info" th:text="'Дата создания: ' + ${#dates.format(task.createDate, 'dd.MM.yyyy HH:mm:ss')}"></p>
    <p class="text-info" th:text="'Пользователь: ' + ${task.todoUser.name}"></p>
    <div th:switch="${task.done}">
        <p class="text-info" th:case="true">Готовность: Выполнена</p>
        <!-- * for default case -->
        <p class="text-info" th:case="*">Готовность: Новая</p>
    </div>
    <div class="mb-3 row">
        <a class="nav-item nav-link" th:href="@{/tasks}">Перейти к списку задач</a>
    </div>
</div>
<footer th:include="fragments/footer :: footer"></footer>
</body>
</html>